[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mongoengine = "*"
pymongo = "*"
python-dotenv = "*"
flask = "*"
flask-cors = "*"
nanoid = "*"
jwt = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.9"
