[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mongoengine = "*"
python-dotenv = "*"
flask = "*"
flask-cors = "*"
nanoid = "*"
bcrypt = "*"
pyjwt = "*"
pillow = "*"
polyglot = "*"
pyicu = "*"
numpy = "*"
pycld2 = "*"
readtime = "*"
gunicorn = "*"
setuptools = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.9"
